<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_a"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.test_a.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test_a.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.test_a.Session"
            android:label="@string/title_activity_session" >
        </activity>
        <activity
            android:name="com.example.test_a.AMkids"
            android:label="@string/title_activity_amkids" >
        </activity>
        <activity
            android:name="com.example.test_a.PMkids"
            android:label="@string/title_activity_pmkids" >
        </activity>
        <activity
            android:name="com.example.test_a.PMtoddlers"
            android:label="@string/title_activity_tab1" >
        </activity>
        <activity
            android:name="com.example.test_a.PMelders"
            android:label="@string/title_activity_tab2" >
        </activity>
        <activity
            android:name="com.example.test_a.Kidslist"
            android:label="@string/title_activity_kidslist" >
        </activity>
        <activity
            android:name="com.example.test_a.Tabs"
            android:label="@string/title_activity_amlist" >
        </activity>
        <activity
            android:name="com.example.test_a.PMlist"
            android:label="@string/title_activity_pmlist" >
        </activity>
        <activity
            android:name="com.example.test_a.Kidlist"
            android:label="@string/title_activity_amtoddlers" >
        </activity>
        <activity
            android:name="com.example.test_a.AMelders"
            android:label="@string/title_activity_amelders" >
        </activity>
        <activity
            android:name="com.example.test_a.Sessoin"
            android:label="@string/title_activity_amelders" >
        </activity>
        
    </application>

</manifest>
